.first-slide{
    background-color: #F4F6FA;
}
.second-slide{
    background-color: #F4F6FA;
}
.l-text-bold{
    color:#50565D;
    font-weight: 600!important;
}
.l-text-thin{
    color:#777A82;
    font-weight: 400!important;
}
.nav-item{
    color: #A6ABB9!important;
    font-weight: 600;
    transition: 0.5s;
}
.nav-item:hover{
    color: rgb(131, 131, 131)!important;
    transform: translateY(-1.5px);
    transition: 0.5s;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.nav-item.active{
color: #48494F!important;
font-weight: 600;
}
.first-slide .header{
    color:#50565D;
    font-size: 4vw;
    font-weight: 450!important;
}
.first-slide .pic{
    position: relative;
    top:-8em;
    right: 20%;
    width:30%;
    max-width:18em;
    float: right;
}
.first-slide .header-desc{
    color: #A6ABB9!important;
    font-size: 1.5vw;
    font-weight: 600;
}
@media (min-width: 770px) and (max-width:830px) {
    .first-slide .pic{
        top:-6em;
    }
}
@media (min-width: 830px) and (max-width:1000px) {
    .first-slide .pic{
        top:-7em;
    }
}
@media (min-width: 1570px) and (max-width:1920px) {
    .first-slide .pic{
        top:-11em;
        max-width:25em;
    }
}
@media (max-width: 768px) {
    .nav-item:hover{
        color: rgb(131, 131, 131)!important;
    }
    .hide-sm{
        display: none;
    }
    .first-slide .header-desc{
        color: #A6ABB9!important;
        font-size: 4vw;
        font-weight: 600;
    }
    .first-slide .header{
        color:#50565D;
        font-size: 10vw;
        font-weight: 450!important;
    }
 }
 .second-slide .header{
    color:#50565D!important;
    font-weight: 450!important;
}
 .second-slide .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 1rem;
  }
  
  .second-slide .card {
    color: rgba(0, 0, 0, 0.1);
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .second-slide h3 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
    z-index: -1;
  }
  
  .second-slide p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
    z-index: -1;
  }
  
  .second-slide img {
    position: absolute;
    top: 5%;
    bottom: 5%;
    height: 90%;
    width: 100%;
    z-index: 0;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .second-slide .card:hover {
    transform: scale(1.035, 1.035);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
  .second-slide .card:hover p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
    z-index: 1;
  }
  .second-slide .card:hover h3 {
    color: white;
    font-size: 24px;
    margin: 20px 0 0 20px;
    z-index: 1;
  }
  .second-slide .card:hover img {
    filter: brightness(0.3) saturate(100%);
    transform: scale(1)
  }
  
