.first-slide{
    background-color: #F4F6FA;
}
.second-slide{
    background-color: gray;
}
.l-text-bold{
    color:#50565D;
    font-weight: 600!important;
}
.l-text-thin{
    color:#777A82;
    font-weight: 400!important;
}
.nav-item{
    color: #A6ABB9!important;
    font-weight: 600;
    transition: 0.5s;
}
.nav-item:hover{
    color: rgb(131, 131, 131)!important;
    transform: translateY(-1.5px);
    transition: 0.5s;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.nav-item.active{
color: #48494F!important;
font-weight: 600;
}
.first-slide .header{
    color:#50565D;
    font-size: 4vw;
    font-weight: 450!important;
}
.first-slide .pic{
    position: relative;
    top:-8em;
    right: 20%;
    width:30%;
    max-width:18em;
    float: right;
    z-index: 9999;
}
.first-slide .header-desc{
    color: #A6ABB9!important;
    font-size: 1.5vw;
    font-weight: 600;
}
@media (min-width: 770px) and (max-width:830px) {
    .first-slide .pic{
        position: relative;
        top:-6em!important;
        right: 20%;
        width:30%;
        max-width:18em;
        float: right;
        z-index: 9999;
    }
}
@media (min-width: 830px) and (max-width:1000px) {
    .first-slide .pic{
        position: relative;
        top:-7em!important;
        right: 20%;
        width:30%;
        max-width:18em;
        float: right;
        z-index: 9999;
    }
}
@media (min-width: 1000px) and (max-width:1920px) {
    .first-slide .pic{
        position: relative;
        top:-11em!important;
        right: 20%;
        width:30%!important;
        max-width:25em;
        float: right;
        z-index: 9999;
    }
}
@media (max-width: 768px) {
    .nav-item:hover{
        color: rgb(131, 131, 131)!important;
    }
    .hide-sm{
        display: none;
    }
    .first-slide .header-desc{
        color: #A6ABB9!important;
        font-size: 4vw;
        font-weight: 600;
    }
    .first-slide .header{
        color:#50565D;
        font-size: 10vw;
        font-weight: 450!important;
    }
 }
